@using MvcBigBank.Models
@model Hesap

@{
    ViewBag.Title = "Para Çekme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <section class="panel" style="margin-left:40px; margin-top:90px">
        <header class="panel-heading" style=" height:30px; text-align:center;">
                PARA ÇEKME
        </header>
        <div class="panel-body" style="text-align:center; vertical-align:middle; align-items:center; justify-content:center">
            @using (Html.BeginForm("WithdrawMoney", "Account", FormMethod.Post, new { @id = "frmWithdrawMoney" }))
            {
                @Html.AntiForgeryToken()

                <div class="card" style=" text-align:center;">
                    <div class="form-group">
                        <div>
                            <label>Kullanılabilir Bakiyeniz </label>
                            <div>
                                <p>@ViewBag.value</p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                         <div style="display:inline;">
                                @Html.TextBoxFor(model => model.bakiye, new {@style = "border: none; border-bottom: 1px solid #f05056; width:250px; margin-top:10px;", @placeholder = "Çekilecek Tutar", @onkeypress = "return event.charCode >=48 && event.charCode <=57", @maxlength = "6", htmlAttributes = new { @class = "form-control", id = "balance" } })
                                @Html.ValidationMessageFor(model => model.bakiye, "", new { @class = "text-danger" })
                         </div>
                    </div>

                    <div class="form-group">
                        <div class="row justify-content-center">
                            <div class="col-xs-6 col-xs-offset-4" style="margin-top:20px; ">
                                <input type="submit" value="Para Çekme" class="btn btn-info btn-xs btn-block" style="font-size:large; background-color:#004e95 " />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>